<h2 align='center'> Welcome to Bugzilla </h2>

<br><br><br><br>
<span >
<p style = "padding-right : 25px; padding-left:25px">
	Bugzilla is a test application,made by a RUBY on RAILS Developer from DEVSINC Sofware Company. There are three type of Users in this Project,namely, Manager, Developer, and User. <br>
	Manager Can Initilaize any project and check status of all the projects and edit them. Manager have all the authorities over all the entities of the Project.
	<br>Developers meant to Resolve the bugs and Develop the new features reported by the user or QA. Developers ara assigned to the Project and configures the Bugs.
	<br>User is a Quality Assuarance Officer who reports bugs and introduce new features. He is allowed to view the status of bugs and projects. He can create bugs only.

	It's a very useful application and helps the team to co-ordinate each other.
	<br><br><br>
	<p style ="padding-right : 50px; text-align:right">Thank You.<br> A message form Developer </p>
</span>

</p>